<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01-WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   http://localhost:9090/01-WebApp/fs -->
  
  
  <display-name>first-application</display-name>
  <servlet>
  <servlet-name>FirstServlet</servlet-name>
  <servlet-class>in.thiru.FirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>FirstServlet</servlet-name>
   <url-pattern>/fs</url-pattern>
  </servlet-mapping>
  
  
<!--   http://localhost:9090/01-WebApp/ss -->

 
  <display-name>second-application</display-name>
  <servlet>
  <servlet-name>SecondSevlet</servlet-name>
  <servlet-class>in.thiru.SecondSevlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>SecondSevlet</servlet-name>
   <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
</web-app>